<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yedidim Project</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>
<!-- Top menu -->
<% include templates/toolbar.ejs%>
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                   </li>
               </ul>
            </div>
       </div>
    </nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="direction:rtl">כניסה</h4>
            </div>

            <div class="modal-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uLogin">
                            <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="uPassword">
                            <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button class="form-control btn btn-primary" onclick="clicked()"> כנס</button>

            <div class="progress" style="display: none">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">progress</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#">Yedidey Hakfar</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<!-- Top content -->
<!--<div class="top-content">-->
<section>
    <div style="color:#ffffff!important; margin-top: 5%">
        <div class="container">
            <div class="row">
                <div style="background: rgba(128,128,128,0.7)!important;padding: 3%" class="col-sm-10 col-sm-offset-1 text">
                    <div  class="description">
                        <p style="font-weight: bolder!important;" align="right">
                             <p style="font-size:200%; color: black;">עמותת בוגרי וידידי הכפר הירוק למען קידומו ופיתוחו של הכפר הירוק שלנו</p></b>
                            </br>
                            <b style="color: lightyellow">על מועד הפגישה הבאה יישלח מייל בהמשך</b>
                        </p>
                    </div>
                    <div class="top-big-link">
                        <a class="btn btn-link-2" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery">
    <div class="container">
        <div class="row">
            <div style="background: rgba(128,128,128,0.7); margin-bottom: 1%" class="col-sm-4 col-sm-offset-4">
                <h2 class="section-heading" style="color:white">גלריה</h2>
                <hr style="background-color: #204d74">
            </div>
            <div class="carousel slide col-sm-8 col-sm-offset-2" data-ride="carousel" id="myCarousel">
                <ol class="carousel-indicators" id="gallery_mini">
                </ol>
                <div class="carousel-inner" id="images">
                </div>
                <a href="#myCarousel" class="carousel-control left" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a href="#myCarousel" class="carousel-control right" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!--</div>-->

<!-- Javascript -->

<!-- login -->
<% include templates/Developers.ejs%>
<script>
    function accepted() {
        var button = $(".modal-footer button");

        if(button.attr("data-dissmiss") != "modal"){
            var inputs = $('form input');
            var title = $('.modal-title');
            var progress = $('.progress');
            var progressBar = $('.progress-bar');

            inputs.attr("disabled", "disabled");
            button.hide();
            progress.show();
            progressBar.animate({width: "100%"}, 100);
            progress.delay(1000).fadeOut(600);

            /*button.text("Close").removeClass("btn-primary").
             addClass("btn-danger").blur().delay(1600).fadeIn(function(){
             title.text("הפרטים אינם נכונים, אנא נסה שנית");
             button.attr("data-dismiss", "modal");
             });*/
            window.location.replace("http://kfar-yedidim.com");
        }
    }

    function rejected() {
        var button = $(".modal-footer button");

        if(button.attr("data-dissmiss") != "modal"){
            var inputs = $('form input');
            var title = $('.modal-title');
            var progress = $('.progress');
            var progressBar = $('.progress-bar');

            button.hide();
            progress.show();
            progressBar.animate({width: "100%"}, 100);
            progress.delay(1000).fadeOut(600);

            /*button.text("Close").removeClass("btn-primary").
                    addClass("btn-danger").blur().delay(1600).fadeIn(function(){
                        title.text("הפרטים אינם נכונים, אנא נסה שנית");
                        button.attr("data-dismiss", "modal");
                    });*/

            setTimeout(function() {button.show(); progressBar.attr("style", "width: 0");title.text("הפרטים אינם נכונים, אנא נסה שנית")}, 1600);

            //button.show();
        }
    }

    function clicked() {
        var p = Promise.resolve({
            then: function(resolve) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        if (xhttp.responseText == "Accepted") {
                            resolve(true);
                        }
                        else {
                            resolve(false);
                        }
                    }
                };

                xhttp.open("GET", "/login?username=" +
                        document.getElementById('uLogin').value +
                        '&password=' + document.getElementById('uPassword').value, true);
                xhttp.send();
            }
        })
        p.then(function(v) {
            if (v) {
                accepted();
            }
            else {
                rejected();
            }
        }, function(e) {
            console.log(e);
        });
    }
</script>






<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>
<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->
<script type="text/javascript">
    var ol = document.getElementById("gallery_mini");
    var li;
    var array = [];
    for (var index = 0;index < 14;index++) {
        li = document.createElement("li");
        li.setAttribute("data-target","#myCarousel");
        li.setAttribute("data-slide-to",String(index));
        ol.appendChild(li);
    }
    ol.firstElementChild.setAttribute("class","active");

    var carousel_inner = document.getElementById("images");
    for (var index = 1;index <= 14;index++) {
        var div = document.createElement("div");
        div.setAttribute("class", "item");
        var image = new Image();
        image.src="images/"+index+".JPG";
        image.setAttribute("class","img-responsive");
        image.setAttribute("alt","greenblitz");
        div.appendChild(image);
        carousel_inner.appendChild(div);
    }
    carousel_inner.firstElementChild.setAttribute("class", "item active");

</script>
</body>

</html>
