<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>-->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yedidim Project</title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/form-elements.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Yedidim</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
							<span class="li-text">
								Put some text or
							</span>
          <a href="#"><strong>links</strong></a>
							<span class="li-text">
								here, or some icons:
							</span>
							<span class="li-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-skype"></i></a>
							</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text">
          <h1><strong>Yedidim</strong> Registration Form</h1>
          <div class="description">
            <p>
              *Form explanation here*
            </p>
          </div>
          <div class="top-big-link">
            <a class="btn btn-link-2" href="/">About</a>
          </div>
        </div>
        <div class="col-sm-5 col-lg-5 form-box">
          <div class="form-top">
            <div class="form-top-right" style="width: auto">
              <h3 style="direction: rtl">הרשם עכשיו!</h3>
            </div>
            <div class="form-top-left" style="width: auto">
              <i class="fa fa-pencil"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="/register" method="post" class="registration-form">
              <div class="form-group">
                <label class="sr-only" for="firstName">First name</label>
                <input type="text" name="firstName" placeholder="שם פרטי..." class="form-first-name form-control" id="form-first-name" style="direction: rtl">
              </div>
              <div class="form-group">
                <label class="sr-only" for="lastName">Last name</label>
                <input type="text" name="lastName" placeholder="שם משפחה..." class="form-last-name form-control" id="form-last-name" style="direction: rtl">
              </div>
              <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input type="text" name="email" placeholder="אימייל..." class="form-email form-control" id="form-email" onclick="flip()" style="direction: rtl">
              </div>
              <div class="form-group">
                <div class="checkbox" style="float: right">

                  <!-- THIS IS BOGER -->
                  <span>הורה</span>
                  <label><input type="checkbox" value="boger" id="boger" name="boger" style="margin-top: 9px"></label>

                  <!-- THIS IS OTHER -->
                  <span>בוגר</span>
                  <label><input type="checkbox" value="other" style="margin-top: 9px"></label>

                  <!-- THIS IS PARENT -->
                  <span>אחר</span>
                  <label><input type="checkbox" value="parent" id="parent" name="parent" onclick="return hide();" style="margin-top: 9px"></label>
                </div>
              </div>
              <div id="hidden-parent">
                <label id="hidden-parent-text"><input type="text" class="form-control"></label>
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-about-yourself">About yourself</label>
			                        	<textarea name="about" placeholder="על עצמך..." style="direction: rtl"
                                                  class="form-about-yourself form-control" id="about"></textarea>
              </div>
              <button type="submit" class="btn">!הרשם</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>

<script>
  function flip() {
    var field = document.getElementById("form-email");
    field.removeAttribute("placeholder");
    field.style.direction = "ltr";
  }
</script>
<script>
    function hide() {
      var field = document.getElementById("hidden-parent-text");
      if ($("#parent").is(':checked')) {
        field.style.display = "";
        $('#hidden-parent').css({opacity:0}).slideDown("slow").animate({opacity:1});
      } else {
        field.style.display = "none";
        $('#hidden-parent').animate({opacity: 0}).slideUp("slow");
      }
    };

</script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>