<div class="container-fluid">
    <!-- Second navbar for categories -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: green" href="/">Yedidey Hakfar HaYarok</a>
                <a title="To Hakfar Hayarok site" href="http://www.kfaryarok.org.il/"><img src="/assets/img/backgrounds/icon.jpg" width="10%" height="8%" style="position: relative; right: 20%;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navbar-items">
                    <li><a href="/">Home</a></li>
                    <script>
                    var extra = <%- JSON.stringify(extra)%>
                    document.getElementById('navbar-items').innerHTML += extra;
                     </script>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->

<!-- <script>
$('#popoverHakfarHayarok').popover();
</script> -->